@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap");
body {
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.top-bar{
    position: fixed;
    background: rgb(56, 95, 56);
    height: 50px;
    width: 100%;
    top:0;
    z-index:999;
}

.footer{
    position: fixed;
    background: rgb(156, 156, 156);
    height: 50px;
    width: 100%;
    bottom:0;
    z-index:999;
}

.page-count{
    display: flex;
    margin-left: auto;
}

.row{
    display: flex;
    align-items: center;
}

.card-bottom{
    display: flex;
    align-items: center;
    height: 50px;
    background: #f7f7f7;
    border-top: 1px solid lightgrey;
    padding: 0.25rem 0.5rem;
}

table{
    width: 100%;
    max-height: 200px;
    height: 200px;
    overflow-y: scroll;
    border-spacing: 1rem;
}

label, input {
    width:200px;
}

.content-header{
    font-size: 1.2rem;
    padding: 1rem;
    background: #c4f3c4;
    border-bottom: 1px solid rgb(232, 232, 232);
    color: #21511e;
}

.loan-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.btn{
    height: 35px;
    width: 90%;
    border: 1px solid rgb(232, 232, 232);
    background-color: #c4f3c4;
    color: #21511e;
    font-size: 0.9rem;
}

.btn:hover{
    cursor: pointer;
    background-color: #b8e6b8;
}

.results{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.top-bar h1{
    margin: 0;
    margin-left: 1rem;
    margin-top: 0.25rem;
    height: 50px;
    text-align: center;
    color: #c4f3c4;
    
}